section.header img {
  width: 100%;
}

section.header {
  position: relative;
}
section.header h1 {
  position: absolute;
  top: 0px;
  color: white;
}
section.header h1.center {
  position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}
section.container-fluid {
  padding-top: 5px;
  width: 100%;
}
section.container-fluid img {
  width: 100%;
}
#meglerinfo {
  border-style: solid;
  border-width: 0px;
}
section.hero {
  padding: 28px 0px;
  background: url('/assets/images/nattfoto_fasade.jpg') no-repeat center center;
  background-size: cover;
}
section.hero .jumbotron {
  background-color: rgba(0,0,0,0.4);
}
section.hero .jumbotron h1,
section.hero .jumbotron p {
  color: white;
}
section.hero .jumbotron p {

}
