section.header img {
  width: 100%;
}

section.header {
  position: relative;
}
section.header h1 {
  position: absolute;
  top: 0px;
  color: white;
}
section.header h1.center {
  position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}
section.container-fluid {
  padding-top: 5px;
  width: 100%;
}

#meglerinfo {
  border-style: solid;
  border-width: 0px;
}
section.hero {
  padding: 28px 0px;
  background: url('../assets/images/nattfoto_fasade.jpg') no-repeat center center;
  background-size: cover;
}
section.hero .jumbotron {
  background-color: rgba(0,0,0,0.4);
}
section.hero .jumbotron h1,
section.hero .jumbotron p {
  color: white;
}
section.hero .jumbotron p {

}
section.matterport {
  line-height: 0px;
}
instalist a {
  margin-bottom: 12px;
}
section.visning {
  background-color: #4e946d;
}
section.visning .tidspunkt {
  font-size: 3em;
  color: #ffffff;
  margin-top: 10px;
}
.btn-danger {
  background-color: #4e946d;
  border-color: #4e946d;
}
#map {
  height: 400px;
}
.deling {
  font-size: 2.9em;
}
.deling-icon {
    margin-right: .5em;
    border-radius: 2px;
    padding: 4px;
    width: 32px;
    text-align: center;
    display: inline-block;
  }
  .social {
    background-color: #4e946d;
    color: #ffffff;
    padding-bottom: 6px;
  }
